@media screen and (max-width: 1200px) {
  .productive-text-container h3 {
    font-size: 40px;
  }
  .image-container {
    top: 8rem;
    left: 45px;
  }
  .cards {
    padding: 1.6rem;
  }
  .icn {
    width: 25px;
    height: auto;
  }
}
@media screen and (max-width: 980px) {
  .intro-text-box {
    gap: 1.3rem;
    margin: 25px 17%;
  }
  .intro-text-box h1 {
    font-size: 30px;
  }
  .intro-text-box p {
    font-size: 15px;
    margin: 0 5rem;
  }
  #features {
    padding: 2rem;
  }
  .features-card {
    padding: 0 2rem;
  }
  .productive-text-container h3 {
    font-size: 37px;
  }
  .productive-text-container p {
    margin: 1rem 0;
    font-size: 15px;
  }
  .image-container {
    top: 7.5rem;
    left: 10px;
  }
  .cards-container {
    padding: 0 2rem;
  }
  .cards {
    padding: 1.3rem;
  }
  .input-container {
    padding: 2.5rem 1rem 1.5rem;
  }
  .input-container p {
    word-wrap: break-word;
    width: 630px;
    padding-top: 15px;
  }
  .f-1 {
    flex: 0 0 30%;
    gap: 2rem;
    font-size: 13px;
  }
  .footer-icon {
    width: 25px;
    height: 25px;
  }
  .f-2 {
    display: flex;
    flex-direction: column;
    gap: 0.5rem;
    font-size: 13px;
  }
  .f-2 img {
    padding: 0 1rem;
    width: 48px;
  }

  footer ul {
    list-style: none;
    display: flex;
    flex-direction: column;
    gap: 0.25rem;
    font-size: 13px;
  }
}
@media screen and (max-width: 768px) {
  .logo {
    width: 5rem;
  }
  .intro-page-container {
    background-image: url(/images/bg-curvy-mobile.svg);
    background-size: cover;
  }
  .intro-img-container img {
    width: 29rem;
  }
  .intro-text-box {
    margin: 25px 7%;
  }
  .intro-text-box h1 {
    font-size: 28px;
  }
  .intro-text-box p {
    font-size: 15px;
    margin: 0 3.5rem;
  }
  .features_container {
    display: block;
  }
  .productive-container {
    display: block;
  }
  #testimonies {
    height: 130vh;
  }
  .image-container {
    position: absolute;
    top: 9rem;
    left: 35px;
    z-index: 1;
  }
  .cards-container {
    display: flex;
    flex-direction: column;
    gap: 2rem;
  }
  .input-container h2 {
    font-size: 23px;
  }
  .input-container p {
    font-size: 11px;
    width: 400px;
  }

  .main-input div a {
    font-size: 13px;
  }
  .footer-container {
    flex-direction: column;
    gap: 3rem;
  }
  .f-2 img {
    padding-left: 0;
    width: 30px;
  }
  .f-5 {
    display: flex;
    justify-content: center;
    gap: 1.5rem;
  }
  .icn {
    padding: 5px;
    border: 1px white solid;
    border-radius: 100%;
  }
}
@media screen and (max-width: 480px) {
  #desktop-nav {
    display: flex;
    justify-content: space-between;
    padding: 2.3rem 1.2rem;
  }

  .nav-links {
    list-style: none;
    display: flex;
    gap: 1.3rem;
  }
  .nav-links li a {
    font-size: 13px;
  }
  .intro-img-container img {
    width: 20rem;
  }
  .intro-text-box {
    margin: 20px 3%;
  }
  .intro-text-box h1 {
    font-size: 23px;
  }
  .intro-text-box p {
    font-size: 13px;
    margin: 0 2.4rem;
  }
  #features {
    background: #181e2a;
    color: white;
    padding: 2rem;
  }
  .features-card-container {
    gap: 4rem;
  }
  .features-card {
    padding: 3rem 1rem;
  }
  .features-card h3 {
    font-size: 23px;
  }
  .features-card p {
    font-size: 13px;
  }
  .productive-text h3 {
    font-size: 23px;
  }
  .productive-text p {
    font-size: 13px;
  }
  .image-container {
    position: absolute;
    top: 8.5rem;
    left: 35px;
    z-index: 1;
  }
  .cards p {
    font-size: 13px;
  }
  .cards h6 {
    font-size: 13px;
    font-size: 700;
  }

  .input-container {
    padding: 2.5rem 1rem 1.5rem;
  }
  .input-container h2 {
    font-size: 20px;
  }
  .input-container p {
    font-size: 9px;
    width: 300px;
  }
  .main-input {
    display: flex;
    flex-direction: column;
    gap: 1rem;
  }

  .main-input div a {
    font-size: 13px;
  }
  #input-field {
    padding: 10px;
    border: none;
    flex: 0 0 55%;
    border-radius: 20px;
  }
  footer {
    padding: 8rem 2rem 5rem;
  }
  .footer-container {
    flex-direction: column;
    gap: 2rem;
  }
}
@media screen and (max-width: 365px) {
}
